<!doctype HTML>
<html>
<head>
<title>MyGame</title>
<script src="angular-1.4.9/angular.js"></script>
<script src="myGame.js"></script>
<script src="underscore-min.js"></script>
<link rel="stylesheet" href="font-awesome-4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="weathericons/css/weather-icons.min.css">
<style>

body {
	font-family: arial;
	color: #333;
	background-color: #5a5;
	margin: 0;
	padding: 0;
}

label {
	font-weight: bold;
}

div.top-bar {
	background-color: #333;
	color: #fafafa;
	height: 30px;
	padding: 5px;
	margin: 0;
	border-bottom: 1px solid white;
}

div.main-body {
	border-top: 1px solid black;
	height: 100%;
	padding: 5px;
}

div.status-bar {
	border-top: 1px solid white;
	background-color: black;
	color: #fafafa;
	height: 20px;
	position: fixed;
	bottom: 0;
	width: 100%;
}

span.status-item {
	margin: 0 5px 0 5px;
}

.companion-listing {
	margin: 3px 0 3px 0;
	padding: 3px 0 3px 0;
	border-bottom: 1px solid #aaa;
	background-color: #333;
	color: #fafafa;
	border-radius: 5px;
	display: inline-block;
}

span.current-location {
	color: #fafafa;
}

.hexagon {
  position: relative;
  display: inline-block;
  width: 30px; 
  height: 17.32px;
  background-color: darkGreen;
  margin: 8.66px 0;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 8.66px solid darkGreen;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 8.66px solid darkGreen;
}

.hexagon:before:hover,
.hexagon:after:hover,
.hexagon:hover {
	opacity: 0.1 !important;
	transition: 300ms;
}

.hexagon.selected:before {
	transition: 300ms;
	border-bottom-color: purple;
	opacity: 1 !important;
}

.hexagon.selected:after {
	transition: 300ms;
	border-top-color: purple;
	opacity: 1 !important;
}

.hexagon.selected {
	transition: 300ms;
	background-color: purple;
	opacity: 1 !important;
}


.hexagon.enemy:before {
	transition: 300ms;
	border-bottom-color: black;
	opacity: 1 !important;
}

.hexagon.enemy:after {
	transition: 300ms;
	border-top-color: black;
	opacity: 1 !important;
}

.hexagon.enemy {
	transition: 300ms;
	background-color: black;
	opacity: 1 !important;
}


.odd-hex-row {
	position: relative;
	right: -16px;
}

.even-hex-row {
	position: relative;
}

.hex-row {
	margin-top: -13px;
	white-space: nowrap;
}

.hex-container {
	padding: 2px;
	display: inline-block;
}

.hex-content {
	display: inline-block;
	width: 30px;
	text-overflow: ellipsis; 
	overflow: hidden;
	position: absolute;
	color: #aef;
	padding-left: 5px;
	padding-right: 5px;
	z-index: 50;
	text-shadow: 1px 0px #333;
	font-size: smaller;
}

.hex-content i {
	font-size: 16px;
}

</style>
</head>
<body ng-app="app" ng-controller="gameCtrl" ng-keyup="handleKey($event)">
	<div class="top-bar">
		<span style="line-height: 30px;">
			MyGame
		</span>&nbsp;
		<small>{{player.name}}</small>
		<span class="fa-pull-right">
			<rm-quick-status person="player"></rm-quick-status>
		</span>
	</div>
	<div class="main-body">
		<h2 style="display: inline-block;">Current location</h2>
		<span class="current-location">
			<label>{{player.location.name}}</label> 
			<i class="wi fa-2x" 
				ng-class="{'wi-rain': player.location.weather == 'raining', 
					'wi-day-haze': player.location.weather == 'humid',
					'wi-day-sunny': player.location.weather == 'sunny'}"></i>
		</span>

		<input type="checkbox" ng-model="showNumbers" />
		<div class="game-map">
			<div ng-repeat="row in locations.list" class="hex-row" ng-class="{'odd-hex-row': $odd, 'even-hex-row': $even}">
				 <div ng-repeat="location in row" class="hex-container">
				 	<a ng-click="player.location = location;" 
				 			href="" 
				 			style="opacity: {{ location.support / 100 }}" 
				 			class="hexagon" 
				 			ng-class="{'selected': player.location === location, 'enemy': enemy.location === location }">
				 		<div class="hex-content" ng-show="showNumbers">
				 		<!-- {{ location.support | number: 0}} -->
				 		<!-- {{ location.index }} -->
					 	</div>
					 	<div class="hex-content" ng-show="!showNumbers">
					 		<i class="wi fa-2x" 
								ng-class="{'wi-rain': location.weather == 'raining', 
									'wi-day-haze': location.weather == 'humid',
									'wi-day-sunny': location.weather == 'sunny'}"></i>
						</div>
				 	</a>
				 	
				</div>
			</div>
		</div>

		<h2>Companions</h2>
		<ul style="list-style: none; margin-left: -40px; max-width: 500px;">
			<li class="companion-listing" ng-repeat="companion in player.companions">
				<i ng-class="{'fa-male': companion.sex == 'male', 'fa-female': companion.sex == 'female'}" class="fa fa-2x fa-fw"></i>
				<label style="width: 100px; text-overflow: ellipsis; overflow: hidden; display: inline-block;">{{companion.name}}</label>
				<rm-quick-status person="companion"></rm-quick-status>
			</li>
		</ul>
	</div>
	<div class="status-bar">
		<div>{{status}}</div>
	</div>
</body>
</html>